<div class="navbar-container">
  
  <div class="navbar">

    <div class="navbar-title-left">
      <%= link_to "Keegan Beaulieu", root_path, class: "title-link" %>
    </div>

    <div class="navbar-albums-center">
      <ul>
        <% Album.all.each do |album| %>
          <% if album.id == params[:id].to_i %>
            <li><%= link_to album.name, album_path(album), class: "av-link current-album" %> <a id="hide-btn" href="#"><%= icon('fas', 'edit') %></a></li>
          <% else %>
            <li><%= link_to album.name, album_path(album), class: "av-link" %></li>
          <% end %>
        <% end %>
        <li><%= link_to "+", new_album_path, class: "av-link" %></li>
      </ul>
    </div>

    <div class="navbar-title-right">
      <p>About</p>
    </div>
</div>

