

<nav>
  <div class="logo">
    <%= link_to "Keegan Beaulieu", root_path %>
  </div>
  
  <ul class="nav-links">
    <li class="about-side"><a href="/">About</a></li>
    <% Album.all.each do |album| %>
      <% if album.id == params[:id].to_i %>
        <li>
          <%= link_to album.name, album_path(album), class: "current-album" %>
          <% if current_user && current_user.admin %>
            <a id="hide-btn" href="#"><%= icon('fas', 'edit') %></a>
          <% end %>
        </li>
      <% else %>
        <li><%= link_to album.name, album_path(album) %></li>
      <% end %>
    <% end %>
    <% if current_user && current_user.admin %>
      <li><%= link_to icon('fas', 'plus'), new_album_path %></li>
    <% end %>
  </ul>

  <div class="about-top"><a href="/">About</a></div>

  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>  
  </div>
</nav>


