<div class="form-container" id="edit-form">
  <%= simple_form_for(@album) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, class: "devise-btn", input_html: { multiple: true } %>
    </div>
    
    <div class="main-form-btn">
      <%= f.button :submit, "Save changes", class: "devise-btn" %>
    </div>
    <div class="album-btns">
      <%= link_to "Delete Album", album_path(@album), method: :delete, class: "delete-btn", data: {confirm: "Are you sure you want to cancel this reservation?"} %>
      <%= link_to "Back", albums_path, class: "back-btn" %>
    </div>
  <% end %>
</div>

<a class="back-btn" id="hide-btn" href="#">Edit</a>


<script
  src="https://code.jquery.com/jquery-3.5.1.js"></script>

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<style>
  .carousel {
    background: transparent;
  }

  .carousel-cell {
    position: relative;
    width: 800px;
    height: 600px;
    counter-increment: carousel-cell;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 400px;
    font-size: 80px;
    color: transparent; 
  }

  .displayed-image {
    width: 100%;
    a {
      color: #2C2C2C;
    }
  }

  .trash-btn {
    position: absolute;
    right: 8px;
    bottom: 8px;
  }

  .flickity-page-dots {
    bottom: 16px;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background-color: white;
  }
  /* no circle */
  .flickity-button {
    background: transparent;
  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 64px;
    height: 64px;
  }
  /* icon color */
  .flickity-button-icon {
    fill: white;
  }
  .flickity-button-icon:hover {
    fill: #2C2C2C;
  }
  /* hide disabled button */
  .flickity-button:disabled {
    display: none;
  }
  .flickity-button:hover {
    background: transparent;
  }
</style>

<div class="carousel" data-flickity='{ "wrapAround": true }'>
  <% @album.photos.each do |photo| %>
    <div class="carousel-cell">
      <div class="displayed-image"><%= cl_image_tag photo.key, width: 800, height: 600, crop: :fill %>
        <div class="trash-btn"><%= link_to icon('fas', 'trash-alt'), destroy_photo_album_path(photo.signed_id), method: :delete, data: { confirm: 'Are you sure?' }, class: "post-delete-icon" %></div>
      </div>
    </div>
  <% end %>
</div>
