<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>

<div class="form-container hidden" id="edit-form">
  <%= simple_form_for(@album) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photos, as: :file, class: "devise-btn", input_html: { multiple: true } %>
    </div>
    
    <div class="main-form-btn">
      <%= f.button :submit, "Save changes", class: "devise-btn" %>
    </div>
    <div class="album-btns">
      <%= link_to "Delete Album", album_path(@album), method: :delete, class: "delete-btn", data: {confirm: "Are you sure you want to delete this album?"} %>
      <%= link_to "Back", albums_path, class: "back-btn" %>
    </div>
  <% end %>
</div>

<div class="my-carousel" data-flickity='{ "wrapAround": true, "imagesLoaded": true }'>
  <% @album.photos.each do |photo| %>
    <div class="carousel-cell">
      <div class="displayed-image"><%= cl_image_tag photo.key, height: 600, crop: :fill %>
        <div class="trash-btn hidden"><%= link_to icon('fas', 'trash-alt'), destroy_photo_album_path(photo.signed_id), method: :delete, data: { confirm: 'Are you sure you want to delete this photo?' }, class: "post-delete-icon" %></div>
      </div>
    </div>
  <% end %>
</div>
