<h1>Album Show Page</h1>

<%= simple_form_for(@album) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit %>
  
<% end %>

<% @album.photos.each do |photo| %>
  <ul>
    <li>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <%= link_to icon('fas', 'trash-alt'), destroy_photo_album_path(photo.signed_id), method: :delete, data: { confirm: 'Are you sure?' }, class: "post-delete-icon" %>
    </li>
  </ul>
<% end %>

<%= link_to "Delete Album", album_path(@album), method: :delete, data: {confirm: "Are you sure you want to cancel this reservation?"} %>
<%= link_to "back", albums_path %>